/vim/custom.vim
/vim/autoload/plug.vim*
/vim/plugged

/nvim/lazy-lock.json
/nvim/lua/custom/
/nvim/lua/custom.lua
/nvim/lua/plugins/custom-*.lua
/nvim/spell/

/zsh/custom.zsh
Brewfile.lock.json

.DS_Store

/wezterm/custom.lua
/tmux/custom.conf

/hammerspoon/Spoons/EmmyLua.spoon/annotations/
/hammerspoon/custom.lua
/karabiner/automatic_backups
