/vim/custom.vim
/vim/autoload/plug.vim*
/vim/plugged

/nvim/lazy-lock.json
/nvim/lua/custom/
/nvim/lua/custom.lua
/nvim/lua/plugins/custom/
/nvim/spell/

/zsh/custom.zsh
Brewfile.lock.json

.DS_Store

/tmux/custom.conf

/hammerspoon/annotations/generated/
/hammerspoon/custom.lua
/karabiner/automatic_backups

/bat/config
