/vim/custom.vim
/vim/autoload/plug.vim*
/vim/plugged

/nvim/lazy-lock.json
/nvim/lua/custom/
/nvim/lua/custom.lua
/nvim/lua/plugins/custom.lua
/nvim/spell/

/zsh/custom.zsh
Brewfile.lock.json

.DS_Store

/wezterm/custom.lua
/tmux/custom.conf

/hammerspoon/Spoons/*
!/hammerspoon/Spoons/SpoonInstall.spoon/
/hammerspoon/custom.lua
/karabiner/automatic_backups

/kitty/theme.conf
/kitty/theme.conf.bak
/kitty/current-theme.conf

/theme

/tmux/active_theme.conf

/bat/config
